<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a3a50ec6-a342-41bf-9e83-d8c1da7be114/resourceGroups/NetworkWatcherRG/providers/Microsoft.ApiManagement/service/API-MANG-Test/apis/e-commerce-apit</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a3a50ec6-a342-41bf-9e83-d8c1da7be114/resourceGroups/BE-EcommercAPIM_group/providers/Microsoft.Web/sites/BEecommercAPIMgroup</ResourceId>
    <ResourceGroup>BE-EcommercAPIM_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://beecommercapimgroup-bsfhb4dxbmhegyhj.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>876e0b0f-8418-44db-8a54-4c41e5662cee</ProjectGuid>
    <PublishUrl>https://beecommercapimgroup-bsfhb4dxbmhegyhj.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>